@charset "utf-8";

/* /_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_
 全デバイス共通のスタイルとスマートフォンおよび小型タブレット向けレイアウトの指定
 /_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_*/

/*==========================================
 body
 ===========================================*/
 body {
   width: 100%;
   background-color:#fff;
   font-family: "Orbitron", "Play", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
   color:#000;
 }
 a {
   color:#000;
   text-decoration:none;
 }
 a:hover {
   color:#333;
   text-decoration:none;
 }
 a:acrive {
  text-decoration: none;
 }
/*==========================================
 ヘッダーのスタイル
 ===========================================*/
 header {
   text-align:center;
 }
 header #menu_bar{
  width: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .75);
}
header #under-bar{
  width: 100%;
  height: 10px;
  position: fixed;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  background-image: url("../images/header-line.png");
  background-size: 70% 10px;  
  z-index: 1;
}
/*画像のスライドソショー*/
header .bxslider{
  /*margin-top: 100px;*/
}
/*logoの設定*/
header h1 {
 margin:0 auto;
 padding:15px 5px 7px 5px;
 width:90%;
}
header h1 img {
 width:100%;
 max-width:310px;
}
/*s_navの設定*/
header {
 /*#s_navのセンタリングに必要*/
 position:relative;
 overflow:hidden;
}
header ul#s_nav {
 margin-bottom:15px;
 /*#s_navのセンタリングに必要*/
 position:relative;
 left:50%;
 float:left;
}
header ul#s_nav li {
 float:left;

 /*#s_navのセンタリングに必要*/
 position:relative;
 left: -50%;
}
header ul#s_nav li a {
 display:block;
 font-size:0.8em;
 margin-right:20px;
 padding-left:20px;
}
header ul#s_nav li.home a {
  background:url(../images/icon/home-page.png) no-repeat left center;
}
header ul#s_nav li.about a {
  background:url(../images/icon/question-in-circular-button.png) no-repeat left center;
}
header ul#s_nav li.event a {
  background:url(../images/icon/election-event-on-a-calendar-with-star-symbol.jpg) no-repeat left center;
}

header ul#s_nav li.contact a {
 background:url(../images/icon/icn_contact.jpg) no-repeat left center;
}
header ul#s_nav li.news a {
 background:url(../images/icon/icn_news.jpg) no-repeat left center;
}
header ul#s_nav li.people a {
  background:url(../images/icon/people.png) no-repeat left center;
}
header ul#s_nav li.home a,
header ul#s_nav li.about a,
header ul#s_nav li.event a,
header ul#s_nav li.contact a,
header ul#s_nav li.news a,
header ul#s_nav li.people a{
  background-size: 13px;
}
/*topImageの設定*/
header p {
 width:100%;
}
header p img {
 width:100%;
 height:auto;
 max-width:960px;
}

/*==========================================
 グローバルナビゲーションのスタイル
 ===========================================*/
 nav ul {
  margin-bottom: 15px;
}
nav ul li {
  text-align: center;
  float: left;
  width: 50%;
  border-bottom: 2px solid #000;
}
/*css3 liの偶数指定*/
nav ul li:nth-child(odd) {
  width: 49%;
  border-right: 1px dotted #000;
}
nav ul li a{
  display: block;
  width: 100%;
  text-decoration: none;
}

nav ul li a p{
  line-height: 3.2em;
  border: solid 2px rgba(0, 0, 0, 0);
}
nav p:hover{
  border: solid 2px hsl(197, 70%, 53%);
  color: hsl(197, 70%, 53%);
  text-decoration: none;
}

/*==========================================
 コンテンツエリア全体のスタイル
 ===========================================*/
 div#contents {
  padding-bottom: 0px;
}
section{
  margin-bottom: 80px;
}
/*==========================================
 コンテンツエリア -> WORKSのスタイル
 ===========================================*/
 div#contents section#work h2 {
  margin: 0 0 15px 5px;
}
div#contents section#work article {
  text-align: center;
  width: 50%;
  min-width: 120px;
  float: left;
  margin-bottom: 30px;
}
div#contents section#work article img {
  width: 100%;
  height: auto;
  max-width: 184px;
} 
div#contents section#work article h3 {
  font-size: 0.9em;
  font-weight: bold;
}
div#contents section#work article p {
  text-align: left;
  font-size: 0.7em;
  line-height: 2.0em;
  padding: 0 15px;
}

/*==========================================
 コンテンツエリア -> NEWSのスタイル
 ===========================================*/
 div#contents section#news {
  margin-left: 5px;
}
div#contents section#news h2 {
  margin: 0 5px 15px 0;
  background: url(../images/09085023.png) repeat-x bottom;
  padding-bottom: 13px;
  background-size: 42px;
}
div#contents section#news article h3 {
  font-size: 0.7em;
  background: url(../images/icn_arrow.jpg) no-repeat center left;
  margin-bottom: 10px;
  padding-left: 7px;
}
div#contents section#news article p {
  line-height: 1.4em;
  font-size: 0.8em;
  margin: 0 0 20px 10px;
}
div#contents section#news article p a {
  text-decoration: underline;
}
div#contents section#news article p a:hover {
  text-decoration: none;
}
/*==========================================
 コンテンツエリア -> INFORMATIONのスタイル
 ===========================================*/
 div#contents section#information {
  text-align: center;
  margin-left: 5px;
} 
div#contents section#information h2 {
  text-align: left;
  margin: 0 5px 15px 0;
  background: url(../images/09085023.png) repeat-x bottom;
  padding-bottom: 13px;
  background-size: 42px;
}
div#contents section#information ul li {
  width: 100%;
  margin-bottom: 5px;
}
div#contents section#information ul li img {
  width: 98%;
  height: auto;
  max-width: 470px;
}
/*==========================================
 ページトップへボタンのスタイル
 ===========================================*/
 a#pagetopBtn img {
  position: fixed;
  bottom: 10px;
  right: 1px;
  background-color: rgba(255, 255, 255, .75);
  padding: 2px;
}
/*==========================================
  サイトマップ
  ===========================================*/
  #sitemap{
    text-align: left;
    display: block;
    margin: 10px 0px 10px 100px;
    background: black;
  }
  #sitemap ul{
    float: left;
    list-style-type: none;
    margin-right: 28px;
    line-height: 1.15em;
  }
  #sitemap ul h3{
    font-size: 0.85em;
  }
  #sitemap ul li{
    font-size: 0.8em;
    background: url(../images/icn_arrow.png) no-repeat center left;
    background-size: 3px;
    padding-left: 7px;
  }
  #sitemap a{
    color: white;
  }
  #sitemap a:hover{
    color: white;
    text-decoration: underline;
  }
/*==========================================
 フッターのスタイル
 ===========================================*/
 footer {
  background-color: hsl(197, 70%, 50%);
  color: white;
  padding-top: 50px;
  padding-bottom: 25px;
  width: 100%;
}
footer div {
  margin: 20px 0 0 20px;
}
footer div p {
  font-size: 0.7em;
  line-height: 2.0em;
}
footer div small {
  font-size: 0.6em;
}
div#footertop{
  margin: -50px 0 30px 0;
  height: 10px;
  background: url(../images/header-line.png);
  background-size: 70% 10px;

}
footer #p{
  margin-top: 150px;
}

/*==========================================
 メディアクエリ
 ===========================================*/
 /*スマホ*/
 @media only screen and (max-width: 769px) {
  header ul#s_nav {
    display: none;
  }
  header #menu_bar, header #under-bar{
    position: relative;
  }
  footer #p{
    margin-top: 160px;
  }
  #sitemap{
    margin-left: 10px;
  }

}
/* PC向けおよび大型タブレット向けのレイアウトの指定：769px～960px */
@media only screen and (min-width: 769px) {
  /*logoの設定*/
  header h1 {
   text-align:left;
   padding:15px 5px 7px 5px;
   width:320px;
   float:left;
   margin-bottom: -50px;
 }
 header h1 img {
   width:100%;
 }
 header{
   /*#s_navのセンタリングの解除*/
   position:static;
   overflow:visible;
 }
 header ul#s_nav {
   float:right;
   margin-top:50px;
   /*#s_navのセンタリングの解除*/
   position:static;
 }

 header ul#s_nav li a:hover{
  color: hsl(197, 70%, 53%); /*blue*/
  text-decoration: underline;
}

header ul#s_nav li {
 float:left;
 /*#s_navのセンタリングの解除*/
 position:static;
}
nav {
  text-align: center;
  border-bottom: 3px double #000;
  margin: 10px auto 15px auto;
  display: none;
}
nav ul li {
  text-align: center;
  float: left;
  width: 16%;
  border-bottom: none;
  border-right: 1px dotted #000;
  background-color: "#fff";
}
nav ul li:nth-child(odd) {
  width: 17%;
  border-bottom: none;
}
nav ul li.home {
  border-left: none;
  margin-left: 1px;
}
nav ul li.contact {
  border-right: none;
}
nav ul li a{
  display: block;
}
nav ul li p{
  text-decoration: none;
}
div#contents section#work article {
  width: 33%;
}
div#contents section#work article h3 {
  line-height: 2.0em;
}
div#contents section#work article p {
  font-size: 0.8em;
  line-height: 2.0em;
}


}

/* PC向けレイアウトの指定：961px以上では固定レイアウト */
@media only screen and (min-width: 961px) {
  /* header */
  header {
   width:960px;
   margin-left:auto;
   margin-right:auto;
 }
 header ul#s_nav {
   float:right;
   margin-top:50px;
   /*#s_navのセンタリングの解除*/
   position:static;
 }

 nav {
  max-width: 960px;
  display: none;
}
nav ul{
  margin-left: auto;
  margin-right: auto;
}
nav ul li:nth-child(odd) {
  border-bottom: none;
}
nav ul li.home {
  border-left: 1px dotted #000;
}
nav ul li.contact {
  border-right: 1px dotted #000;
}
div#contents {
  max-width: 960px;
  margin: 0 auto;
}
div#contents section#work article {
  width: 20%;
}
div#contents section#work article h3 {
  line-height: 2.2em;
}
div#contents section#news {
  width: 49%;
  float: left;
}
div#contents section#information {
  width: 49%;
  float: right;
}
footer div{
  text-align: center;
}

}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}