.each{
	padding-top: 130px;
	font-weight: normal;
}
.each h1{
	font-size: 1.5em;
	font-weight: bold;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 0 0 8px 15px;
	margin-bottom: 35px;
}
.each h2{
	font-size: 1.3em;
	margin-bottom: 20px;
}
.each img, .each div{
	margin-bottom: 40px;
}
.each p.en{
	margin-top: 10px;
	font-size: .75em;
	color: #aaa;
	letter-spacing: 1.2px;
	line-height: 1.25em;
}
.each p.ja{
	font-size: 1.0em;
	line-height: 1.4em;
}
.eachContents{
	width: 750px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.eachContents img{
	width: 100%;
}

.eachContents h2{
	margin-left: -20px;
}

a .circle_menu{
	float: left;
	margin: 0px 15px 40px 0;
}
.circle_menu{
	border: 2px solid hsl(197, 70%, 50%);
	border-radius: 50px;
	width: 80px;
	height: 80px;
	color: black;
	background-color: #fff;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;

	margin-right: 200px;
}
.circle_menu:hover{
	color: white;
	background-color: hsl(197, 70%, 50%);
}
.circle_menu p{
	display: block;
	text-align: center;
	margin-top: 40%;
}
/*==========================================
 about.html
 ===========================================*/
 .aboutRobogals p{
 	margin-bottom: 40px;
 }

 .eachContents p strong{
 	margin-bottom: 30px;
 	line-height: 1.8em;
 	padding-bottom: 2px;
 	border-bottom: 1px dotted #000;
 }
 .aboutRobogals .eachContents ul{
 	list-style: circle;
 	margin-left: 30px;
 } 
 .aboutRobogals .eachContents ul li{
 	font-size: 1.0em;
 	line-height: 1.4em;
 	margin-bottom: 2px;
 }

 .aboutRobogals a{
 	text-decoration: underline;
 }
 .aboutRobogals a:hover, .aboutRobogals a:active{
 	color: red;
 	text-decoration: underline;
 }

 /*==========================================
 event.html
 ===========================================*/
 .eventInfo .eachContents h2{
 	margin-top: 35px;
 }
 .eventInfo a{
 	text-decoration: underline;
 	display: inline-block;
 }
 .eventInfo a:hover, .eventInfo a:active{
 	color: red;
 	text-decoration: underline;
 } 
 .eventInfo li a{
 	display: inline-block;
 	font-size: .9em;
 	margin-top: 10px;
 }
 .eventInfo ul{
 	list-style-type: circle;
 } 
 .eventInfo li h3{
 	margin-bottom: 10px;
 }

 /*==========================================
 メディアクエリ
 ===========================================*/
 /*スマホ */

 @media only screen and (max-width: 769px) {
 	.each{
 		padding-top: 40px;
 	}
 	.eachContents{
 		width: 80%;
 	}
 	.each p.en{
 		display: none;
 	}
 	.aboutRobogals .eachContents ul li{
 		font-size: .85em;
 	}
 	.circle_menu{
 		width: 70px;
 		height: 70px;
 	}
 	a .circle_menu{
 		display: block;
 		margin: 0 5px 40px 0 ;

 	}
 }
 /* PC向けおよび大型タブレット向けのレイアウトの指定：769px～960px */
 @media only screen and (min-width: 768px) {
 	.eachContents{
 		width: 80%;
 	}
 }

 /* PC向けレイアウトの指定：961px以上では固定レイアウト */
 @media only screen and (min-width: 961px) {
 }

